---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Error 404">
  <div class="flex h-screen w-screen flex-col items-center justify-center gap-6">
    <div class="absolute -z-20 -top-10 -left-10 -bottom-14 -right-14 bg-[url('404bg.gif')] bg-cover bg-center blur-md"></div>
    <h1 class="text-5xl">404</h1>
    <p class="text-3xl">Page not found</p>
  </div>
</Layout>
