---
export function getStaticPaths() {
  return [{ params: { language: "en" } }, { params: { language: "es" } }]
}
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/astro-tailwind-landing-page/en/" />
    <script>
      document.querySelector("meta").setAttribute("content", "0;url=/astro-tailwind-landing-page/"+navigator.language);
    </script>
  </head>
  <body> </body>
</html>
