---
const baseURL = import.meta.env.BASE_URL
---

<html>
  <head>
    <meta http-equiv="refresh" content={"0;url=" + baseURL + "en"} />
    <script define:vars={{ baseURL }}>
      document
        .querySelector("meta")
        .setAttribute("content", "0;url=" + baseURL + navigator.languages[0].split("-")[0])
    </script>
  </head>
  <body> </body>
</html>
