---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Section1 from "../components/Section1.astro";
import Model3 from "../components/Model3.astro";
import ModelY from "../components/ModelY.astro";
import ModelX from "../components/ModelX.astro";
import SolarPanels from "../components/SolarPanels.astro";
import Accessories from "../components/Accessories.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Tasle">
  <Header />
  <main class="h-screen w-screen snap-y snap-mandatory overflow-x-hidden">
    <Section1 />
    <Model3 />
    <ModelY />
    <ModelX />
    <SolarPanels />
    <Accessories />
  </main>
  <Menu />
</Layout>

<script type="text/javascript">
  const aside = document.querySelector("aside");
  const backdrop = document.querySelector("#backdrop");

  function closeSideMenu() {
    aside?.classList.remove("-translate-x-80");
    aside?.classList.add("opacity-0");
    backdrop?.classList.add("hidden");
  }

  function openSideMenu() {
    aside?.classList.add("-translate-x-80");
    aside?.classList.remove("opacity-0");
    backdrop?.classList.remove("hidden");
  }
</script>
