<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/astro-tailwind-landing-0/en" />
    <script>
      document
        .querySelector("meta")
        .setAttribute("content", "0;url=/astro-tailwind-landing-0/" + navigator.languages[0].split("-")[0])
    </script>
  </head>
  <body> </body>
</html>
