<section
  class="relative h-screen w-screen snap-center text-zinc-800"
  id="Accessories"
>
  <div
    class="relative z-20 flex h-screen w-screen flex-col items-center justify-between gap-40"
  >
    <header class="flex flex-col items-center justify-center gap-2 pt-40">
      <h2 class="first-load-h2 text-4xl">Accessories</h2>
    </header>
    <footer
      class="relative flex w-screen grow flex-col items-center justify-end pb-10"
    >
      <a
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="#"
      >
        Shop Now
      </a>
    </footer>
  </div>
  <div class="absolute bottom-0 top-0 z-0 h-full w-full">
    <picture>
      <source
        srcset="/astro-landing-page/Desktop_Accessories.avif"
        media="(min-width: 500px)"
      />
      <img
        src="/astro-landing-page/Homepage-Accessories-Mobile.avif"
        class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
        alt="tasle accessories"
      />
    </picture>
  </div>
</section>
<footer
  class="flex snap-center flex-col items-center justify-center gap-3 pb-7 text-xs text-zinc-500 sm:flex-row"
>
  <a href="#">Tasle © 2023</a>
  <a href="#">Privacy & Legal</a>
  <a href="#" class="hidden sm:block">Vehicle Recalls</a>
  <a href="#" class="hidden sm:block">Contact</a>
  <a href="#">News</a>
  <a href="#" class="hidden sm:block">Get Updates</a>
  <a href="#" class="hidden sm:block">Locations</a>
</footer>
