---
const { Class, action } = Astro.props
---

<button
  class="rounded-md p-2 transition hover:bg-zinc-700/10"
  onclick="closeLanguageMenu()"
  aria-label="Close language menu"
>
  <svg class={Class} viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
    ><path
      fill="currentColor"
      d="M11.025 13.25a.748.748 0 0 1-1.281.53l-5.25-5.264a.75.75 0 0 1 0-1.06L9.717 2.22a.75.75 0 1 1 1.062 1.06L6.084 7.986l4.722 4.734a.748.748 0 0 1 .219.53z"
    ></path>
  </svg>
</button>
