---
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const baseURL = import.meta.env.BASE_URL
---

<footer
  id="footer"
  class="flex snap-center flex-col items-center justify-center gap-3 pb-7 text-xs text-zinc-500 sm:flex-row"
>
  <a href="https://github.com/ferranJS">{t("Tasle © 2023")}</a>
  <a href="https://www.linkedin.com/in/ferran-ramirez/">{t("Privacy & Legal")}</a>
  <a href="https://twitter.com/ferran_dev" class="hidden sm:block">{t("Vehicle Recalls")}</a>
  <a href={"https://github.com/ferranJS" + baseURL} class="hidden sm:block">{t("Contact")}</a>
  <a href="https://www.linkedin.com/in/ferran-ramirez/">{t("News")}</a>
  <a href="https://github.com/ferranJS" class="hidden sm:block">{t("Get Updates")}</a>
  <a href="https://twitter.com/ferran_dev" class="hidden sm:block">{t("Locations")}</a>
</footer>
