<footer
  class="flex snap-center flex-col items-center justify-center gap-3 pb-7 text-xs text-zinc-500 sm:flex-row"
>
  <a href="https://github.com/ferranJS/astro-tailwind-landing-page">Tasle © 2023</a>
  <a href="https://www.linkedin.com/in/ferran-ramirez/">Privacy & Legal</a>
  <a href="https://twitter.com/ferran_dev" class="hidden sm:block">Vehicle Recalls</a>
  <a href="https://github.com/ferranJS/astro-tailwind-landing-page" class="hidden sm:block">Contact</a>
  <a href="https://www.linkedin.com/in/ferran-ramirez/">News</a>
  <a href="https://github.com/ferranJS/astro-tailwind-landing-page" class="hidden sm:block">Get Updates</a>
  <a href="https://twitter.com/ferran_dev" class="hidden sm:block">Locations</a>
</footer>
