<section
  class="relative h-screen w-screen snap-center text-zinc-800"
  id="Model3"
>
  <div
    class="relative z-20 flex h-screen w-screen flex-col items-center justify-between gap-40"
  >
    <header class="flex flex-col items-center justify-center gap-2 pt-36">
      <h2 class="first-load-h2 text-4xl">Model 3</h2>
      <div class="text-center">
        <p
          class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4"
        >
          Starting at $32,740
        </p>
        <p class="first-load-p one-s-delay text-sm font-normal">
          After Federal Tax Credit
        </p>
      </div>
    </header>
    <footer
      class="relative flex w-screen grow flex-row flex-wrap content-end items-center justify-center gap-5 pb-10 sm:pb-20"
    >
      <a
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="#"
      >
        Order Now
      </a>
      <a
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="#"
      >
        Demo Drive
      </a>
    </footer>
  </div>
  <div class="absolute bottom-0 top-0 z-0 h-full w-full">
    <picture>
      <source
        srcset="/astro-tailwind-landing-page/Homepage-Model-3-Desktop-LHD.avif"
        media="(min-width: 700px)"
      />
      <img
        src="/astro-tailwind-landing-page/Homepage-Model-3-LHD-Mobile.avif"
        class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
      />
    </picture>
  </div>
</section>
