<section class="relative h-screen w-screen snap-center text-zinc-800">
  <div
    class="relative z-20 flex h-screen w-screen flex-col items-center justify-between gap-40"
  >
    <header class="flex flex-col items-center justify-center gap-2 pt-36">
      <h2 class="first-load-h2 text-4xl">Model X</h2>
      <div class="text-center">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          View Inventory
        </p>
      </div>
    </header>
    <footer class="relative flex grow flex-row items-end justify-end pb-20 gap-5">
      <a
        class="block w-64 rounded-md bg-zinc-800 py-2.5 text-center text-sm text-white transition"
        href="#"
      >
        Order Now
      </a>
      <a
        class="block w-64 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition"
        href="#"
      >
        Demo Drive
      </a>
    </footer>
  </div>
  <div class="absolute bottom-0 top-0 z-0 h-full w-full">
    <img
      src="/public/Homepage-Model-X-Desktop-LHD.avif"
      class="h-full w-full object-cover"
    />
  </div>
</section>