<section class="relative h-screen w-screen snap-center text-zinc-800">
  <div
    class="relative z-20 flex h-screen w-screen flex-col items-center justify-between gap-40"
  >
    <header class="flex flex-col items-center justify-center gap-2 pt-40">
      <h2 class="first-load-h2 text-4xl">Accessories</h2>
    </header>
    <footer class="relative flex grow flex-col items-center justify-end pb-7 gap-9">
      <a
        class="block w-64 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition"
        href="#"
      >
        Shop Now
      </a>
      <div class="text-xs flex flex-row gap-3 text-zinc-500">
        <a href="#">Tesla © 2023</a>
        <a href="#">Privacy & Legal</a>
        <a href="#">Vehicle Recalls</a>
        <a href="#">Contact</a>
        <a href="#">News</a>
        <a href="#">Get Updates</a>
        <a href="#">Locations</a>
      </div>
    </footer>
  </div>
  <div class="absolute bottom-0 top-0 z-0 h-full w-full">
    <img
      src="/public/Desktop_Accessories.avif"
      class="h-full w-full object-cover"
    />
  </div>
</section>