<section class="relative h-screen w-screen snap-center">
  <div
    class="relative z-20 flex h-screen w-screen flex-col items-center justify-between gap-40"
  >
    <header class="flex flex-col items-center justify-center gap-2 pt-36">
      <h2 class="first-load-h2 text-4xl">Experience Tasle</h2>
      <p class="first-load-p one-s-delay text-sm font-normal">
        Schedule a Demo Drive Today
      </p>
    </header>
    <footer
      class="relative flex w-screen grow flex-row flex-wrap content-end items-center justify-center gap-5 pb-10 sm:pb-20"
    >
      <a
        class="block w-5/6 rounded-md border-4 border-white bg-white/5 py-1.5 text-center text-sm transition hover:bg-white hover:text-zinc-900 sm:w-64"
        href="#"
      >
        Demo Drive
      </a>
    </footer>
  </div>
  <div class="absolute bottom-0 top-0 z-0 h-full w-full">
    <video
      src="/public/Homepage-Test_Drive-NA-Desktop.webm"
      class="h-full w-full object-cover"
      autoplay
      muted
      loop></video>
  </div>
</section>
