<aside
  class="fixed bottom-4 left-4 z-50 flex flex-col items-start [&>a>div]:max-w-0 [&>a>div]:duration-1000 [&>a>img]:h-11 [&>a>img]:w-11 [&>a>img]:p-2 [&>a>div>p]:line-clamp-1 [&>a>div>p]:leading-4 [&>a]:flex [&>a]:items-center [&>a]:overflow-hidden"
>
  <img src="x.svg" class="h-11 w-11 p-2.5" alt="close button" />
  <a class="group bg-orange-600/90" href="">
    <img src="github.svg" alt="github logo" />
    <div class="group-hover:max-w-[300px]">
      <p class="pr-2">This repo</p>
    </div>
  </a>
  <a class="group bg-lime-500/90" href="">
    <img src="github.svg" alt="github logo" />
    <div class="group-hover:max-w-[300px]">
      <p class="pr-2">My profile</p>
    </div>
  </a>
  <a class="group bg-purple-600/90" href="">
    <img src="linkedin.svg" alt="linkedin logo" />
    <div class="group-hover:max-w-[300px]">
      <p class="pr-2">Linkedin</p>
    </div>
  </a>
  <a class="group bg-blue-600/90" href="">
    <img src="twitter.svg" alt="twitter logo" />
    <div class="group-hover:max-w-[300px]">
      <p class="pr-2">Twitter</p>
    </div>
  </a>
  <a class="group bg-rose-500/90" href="">
    <img src="reddit.svg" alt="reddit logo" />
    <div class="group-hover:max-w-[300px]">
      <p class="pr-2">Reddit</p>
    </div>
  </a>
  <a class="group bg-teal-500/90" href="">
    <img src="leetcode.svg" alt="leetcode logo" />
    <div class="group-hover:max-w-[300px]">
      <p class="pr-2">Leetcode</p>
    </div>
  </a>
</aside>
