---
import Header from "../../components/Header.astro"
import Layout from "../../layouts/Layout.astro"
import Menu from "../../components/Menu.astro"
import Section from "../../components/Section.astro"
import Footer from "../../components/Footer.astro"
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
import { ui } from "../../i18n/languages"
import Socials from "../../components/Socials.astro"

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(ui)) {
    paths.push({ params: { language } })
  }
  return paths
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Tasle">
  <Header />
  <main class="h-screen w-screen snap-y snap-mandatory overflow-x-hidden">
    <Section sectionId="Section1" h2Text={t("Experience Tasle")}>
      <p class="first-load-p one-s-delay text-sm font-normal" slot="header-content">
        {t("Schedule a Demo Drive Today")}
      </p>
      <a
        class="block w-5/6 rounded-md border-4 border-white bg-white/5 py-1.5 text-center text-sm transition hover:bg-white hover:text-zinc-900 sm:w-64"
        href="https://github.com/ferranJS/astro-tailwind-landing-0"
        slot="footer-content"
      >
        {t("Demo Drive")}
      </a>
      <video
        src="/astro-tailwind-landing-0/Homepage-Test_Drive-NA-Desktop.webm"
        class="h-full w-full object-cover"
        autoplay
        muted
        loop
        slot="background"
      >
      </video>
    </Section>
    <Section sectionId="Model3" h2Text={t("Model 3")}>
      <div class="text-center" slot="header-content">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("Starting at")} $32,740
        </p>
        <p class="first-load-p one-s-delay text-sm font-normal">{t("After Federal Tax Credit")}</p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS/astro-tailwind-landing-0"
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="https://twitter.com/ferran_dev"
      >
        {t("Demo Drive")}
      </a>
      <source
        slot="background"
        srcset="/astro-tailwind-landing-0/Homepage-Model-3-Desktop-LHD.avif"
        media="(min-width: 700px)"
      />
      <img
        slot="background"
        src="/astro-tailwind-landing-0/Homepage-Model-3-LHD-Mobile.avif"
        class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
        alt="tasle model 3"
      />
    </Section>
    <Section sectionId="ModelX" h2Text={t("Model X")}>
      <div class="text-center" slot="header-content">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("View Inventory")}
        </p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-800 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS"
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="https://twitter.com/ferran_dev"
      >
        {t("Demo Drive")}
      </a>
      <source
        slot="background"
        srcset="/astro-tailwind-landing-0/Homepage-Model-X-Desktop-LHD.avif"
        media="(min-width: 600px)"
      />
      <img
        slot="background"
        src="/astro-tailwind-landing-0/Homepage-Model-X-Mobile-LHD_001.avif"
        class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
        alt="tasle model x"
      />
    </Section>
    <Section sectionId="ModelY" h2Text={t("Model Y")}>
      <div class="text-center" slot="header-content">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("Starting at")} $39,990
        </p>
        <p class="first-load-p one-s-delay text-sm font-normal">{t("After Federal Tax Credit")}</p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS/astro-tailwind-landing-0"
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="https://twitter.com/ferran_dev"
      >
        {t("Demo Drive")}
      </a>
      <source
        slot="background"
        srcset="/astro-tailwind-landing-0/Homepage-Model-Y-Global-Desktop.avif"
        media="(min-width: 600px)"
      />
      <img
        slot="background"
        src="/astro-tailwind-landing-0/Homepage-ModelY-LHD-Mobile.avif"
        class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
        alt="tasle model y"
      />
    </Section>
    <Section sectionId="SolarPanels" h2Text={t("Solar Panels")}>
      <div slot="header-content" class="text-center">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("Schedule a Virtual Consultation")}
        </p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-800 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS"
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="https://github.com/ferranJS/astro-tailwind-landing-0"
      >
        {t("Learn More")}
      </a>
      <source
        slot="background"
        srcset="/astro-tailwind-landing-0/425_HP_SolarPanels_D.avif"
        media="(min-width: 600px)"
      />
      <img
        slot="background"
        src="/astro-tailwind-landing-0/Homepage-SolarPanels-Mobile.avif"
        class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
        alt="tasle solar panels"
      />
    </Section>
    <Section sectionId="Accessories" h2Text={t("Accessories")}>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS"
      >
        {t("Shop Now")}
      </a>
      <source
        slot="background"
        srcset="/astro-tailwind-landing-0/Desktop_Accessories.avif"
        media="(min-width: 500px)"
      />
      <img
        slot="background"
        src="/astro-tailwind-landing-0/Homepage-Accessories-Mobile.avif"
        class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
        alt="tasle accessories"
      />
    </Section>
    <Footer />
  </main>
  <Menu />
  <Socials/>
</Layout>

<script type="text/javascript">
  const aside = document.querySelector("aside")
  const backdrop = document.querySelector("#backdrop")

  function closeSideMenu() {
    aside?.classList.remove("-translate-x-80")
    aside?.classList.add("opacity-0")
    backdrop?.classList.add("hidden")
  }

  function openSideMenu() {
    aside?.classList.add("-translate-x-80")
    aside?.classList.remove("opacity-0")
    backdrop?.classList.remove("hidden")
  }
</script>
