---
import Header from "../../components/Header.astro"
import Layout from "../../layouts/Layout.astro"
import Menu from "../../components/Menu.astro"
import Section from "../../components/Section.astro"
import Footer from "../../components/Footer.astro"
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
import { ui } from "../../i18n/languages"
import Socials from "../../components/Socials.astro"

const baseURL = import.meta.env.BASE_URL

export function getStaticPaths() {
  const paths = []
  for (const language of Object.keys(ui)) {
    paths.push({ params: { language } })
  }
  return paths
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Tasle">
  <Header />
  <main class="h-screen w-screen snap-y snap-mandatory overflow-x-hidden">
    <Section sectionId="Section1" h2Text={t("Experience Tasle")}>
      <p class="first-load-p one-s-delay text-sm font-normal" slot="header-content">
        {t("Schedule a Demo Drive Today")}
      </p>
      <a
        class="block w-5/6 rounded-md border-4 border-white bg-white/5 py-1.5 text-center text-sm transition hover:bg-white hover:text-zinc-900 sm:w-64"
        href={"https://github.com/ferranJS" + baseURL}
        slot="footer-content"
      >
        {t("Demo Drive")}
      </a>
      <video
        src={baseURL + "Homepage-Test_Drive-NA-Desktop.webm"}
        class="h-full w-full object-cover"
        autoplay
        muted
        loop
        slot="background"
      >
      </video>
    </Section>
    <Section sectionId="Model3" h2Text={t("Model 3")}>
      <div class="text-center" slot="header-content">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("Starting at")} $32,740
        </p>
        <p class="first-load-p one-s-delay text-sm font-normal">{t("After Federal Tax Credit")}</p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href={"https://github.com/ferranJS" + baseURL}
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="https://twitter.com/ferran_dev"
      >
        {t("Demo Drive")}
      </a>
      <picture slot="background">
        <source
          srcset={baseURL + "avif/Homepage-Model-3-Desktop-LHD.avif"}
          media="(min-width: 700px)"
          type="image/avif"
        />
        <source srcset={baseURL + "avif/Homepage-Model-3-LHD-Mobile.avif"} type="image/avif" />
        <source
          srcset={baseURL + "webp/Homepage-Model-3-Desktop-LHD.webp"}
          media="(min-width: 700px)"
          type="image/webp"
        />
        <source srcset={baseURL + "webp/Homepage-Model-3-LHD-Mobile.webp"} type="image/webp" />
        <img class="h-screen w-screen object-cover object-[50%_30%] sm:object-center" alt="tasle model 3" />
      </picture>
    </Section>
    <Section sectionId="ModelX" h2Text={t("Model X")}>
      <div class="text-center" slot="header-content">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("View Inventory")}
        </p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-800 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS"
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="https://twitter.com/ferran_dev"
      >
        {t("Demo Drive")}
      </a>
      <picture slot="background">
        <source
          srcset={baseURL + "avif/Homepage-Model-X-Desktop-LHD.avif"}
          media="(min-width: 600px)"
          type="image/avif"
        />
        <source srcset={baseURL + "avif/Homepage-Model-X-Mobile-LHD_001.avif"} type="image/avif" />
        <source
          srcset={baseURL + "webp/Homepage-Model-X-Desktop-LHD.webp"}
          type="image/webp"
          media="(min-width: 600px)"
        />
        <source srcset={baseURL + "webp/Homepage-Model-X-Mobile-LHD_001.webp"} type="image/webp" />
        <img class="h-screen w-screen object-cover object-[50%_30%] sm:object-center" alt="tasle model x" />
      </picture>
    </Section>
    <Section sectionId="ModelY" h2Text={t("Model Y")}>
      <div class="text-center" slot="header-content">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("Starting at")} $39,990
        </p>
        <p class="first-load-p one-s-delay text-sm font-normal">{t("After Federal Tax Credit")}</p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href={"https://github.com/ferranJS" + baseURL}
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href="https://twitter.com/ferran_dev"
      >
        {t("Demo Drive")}
      </a>
      <picture slot="background">
        <source
          srcset={baseURL + "avif/Homepage-Model-Y-Global-Desktop.avif"}
          media="(min-width: 600px)"
          type="image/avif"
        />
        <source srcset={baseURL + "avif/Homepage-ModelY-LHD-Mobile.avif"} type="image/avif" />
        <source
          srcset={baseURL + "webp/Homepage-Model-Y-Global-Desktop.webp"}
          type="image/webp"
          media="(min-width: 600px)"
        />
        <source srcset={baseURL + "webp/Homepage-ModelY-LHD-Mobile.webp"} type="image/webp" />
        <img class="h-screen w-screen object-cover object-[50%_30%] sm:object-center" alt="tasle model y" />
      </picture>
    </Section>
    <Section sectionId="SolarPanels" h2Text={t("Solar Panels")}>
      <div slot="header-content" class="text-center">
        <p class="first-load-p one-s-delay text-sm font-normal underline underline-offset-4">
          {t("Schedule a Virtual Consultation")}
        </p>
      </div>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-800 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS"
      >
        {t("Order Now")}
      </a>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-white py-2.5 text-center text-sm text-zinc-800 transition sm:w-64"
        href={"https://github.com/ferranJS" + baseURL}
      >
        {t("Learn More")}
      </a>
      <picture slot="background">
        <source
          srcset={baseURL + "avif/425_HP_SolarPanels_D.avif"}
          media="(min-width: 600px)"
          type="image/avif"
        />
        <source srcset={baseURL + "avif/Homepage-SolarPanels-Mobile.avif"} type="image/avif" />
        <source
          srcset={baseURL + "webp/425_HP_SolarPanels_D.webp"}
          type="image/webp"
          media="(min-width: 600px)"
        />
        <source srcset={baseURL + "webp/Homepage-SolarPanels-Mobile.webp"} type="image/webp" />
        <img
          class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
          alt="tasle solar panels"
        />
      </picture>
    </Section>
    <Section sectionId="Accessories" h2Text={t("Accessories")}>
      <a
        slot="footer-content"
        class="block w-5/6 rounded-md bg-zinc-700 py-2.5 text-center text-sm text-white transition sm:w-64"
        href="https://github.com/ferranJS"
      >
        {t("Shop Now")}
      </a>
      <picture slot="background">
        <source
          srcset={baseURL + "avif/Desktop_Accessories.avif"}
          media="(min-width: 500px)"
          type="image/avif"
        />
        <source srcset={baseURL + "avif/Homepage-Accessories-Mobile.avif"} type="image/avif" />
        <source
          srcset={baseURL + "webp/Desktop_Accessories.webp"}
          type="image/webp"
          media="(min-width: 500px)"
        />
        <source srcset={baseURL + "webp/Homepage-Accessories-Mobile.webp"} type="image/webp" />
        <img
          class="h-screen w-screen object-cover object-[50%_30%] sm:object-center"
          alt="tasle accessories"
        />
      </picture>
    </Section>
    <Footer />
  </main>
  <Menu />
  <Socials />
</Layout>

<script type="text/javascript">
const menu = document.querySelector("#menu")
const backdrop = document.querySelector("#backdrop")

function closeSideMenu() {
  menu.classList.remove("-translate-x-80")
  menu.classList.add("opacity-0")
  backdrop.classList.add("hidden")
}

function openSideMenu() {
  menu.classList.add("-translate-x-80")
  menu.classList.remove("opacity-0")
  backdrop.classList.remove("hidden")
}
</script>
